@{
    ViewData["Title"] = "ViewDaiDoi";


}
@{
    //model IEnumerable<WebForQLQS.Controllers.DaiDoiController>
}


@{
   
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">



    <a href="/DaiDoi/linkviewQSDonVi" class="brand-link">
        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> <br />
        <span class="brand-text font-weight-light">HỆ THỐNG QUẢN LÝ QUÂN SỐ</span>
    </a>




    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <span class="brand-text font-weight-light" style="color:green "> Phiên đăng nhập của </span>
                <div style="color:green">
                    
                     @ViewData["name"]
                  
                    <!-- thay thế bằng tên người đăng nhập  -->

                     <a class="btn" href="/Home/Login " style="background-color: red ; width: 130px">ĐĂNG XUẤT </a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->


    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item">
            <button style=" width: 250px ">
                <a href="../DaiDoi/linkviewQSDonVi" class="btn btn-block btn-primary">
                    

                        DANH SÁCH QUÂN NHÂN ĐẠI ĐỘI 
                   
                </a>
            </button>
        </li>

        <li class="nav-item">
            <button  style=" width: 250px ">
                <a href="../DaiDoi/linkviewAddInf" class="btn btn-block btn-primary">

                    <p>
                        THÊM
                   </p>
                </a>
            </button>
        </li>


        <li class="nav-item">

            <button  style=" width: 250px ">
                <a href="../DaiDoi/linkviewForAnalyst" class="btn btn-block btn-primary">
                    
                    <p>
                        THỐNG KÊ
                   </p>
                </a>
            </button>
        </li>

        <li class="nav-item">

            <button  style=" width: 250px ">
                <a href="../DaiDoi/linkviewBaoCao" class="btn btn-block btn-primary">
                    <p>
               
                    BÁO VẮNG
               </p>
            </a>
            </button>

        </li>
        <!-- /.sidebar-menu -->



    </ul>

</aside>

@{
    string link = @ViewBag.linkmodel.Link;
}
<!-- thay đổi component khi click link  -->
@await Component.InvokeAsync(link);





