
@{
    ViewData["Title"] = "detailRecordBaoCao";
}

<aside class="main-sidebar sidebar-dark-primary ">



    <a href="/TieuDoan/linkviewQSDonVid" class="brand-link">
        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> <br />
        <span class="brand-text font-weight-light">HỆ THỐNG QUẢN LÝ QUÂN SỐ</span>
    </a>




    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <span class="brand-text font-weight-light" style="color:green "> Phiên đăng nhập của </span>
                <div style="color:green">
                    <span style="font-size: 25px">@ViewData["name"]</span>    <!-- thay thế bằng tên người đăng nhập  -->

                    <a class="btn  btn-danger" href="/Home/Login " style="width: 100px">ĐĂNG XUẤT </a>
                </div>
            </div>
        </div>
    </div>
    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->


    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item">
            <button>
                <a class="btn btn-block btn-dark">

                    DANH SÁCH QUÂN NHÂN TIỂU ĐOÀN

                </a>
            </button>
        </li>

        <li class="nav-item">
            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark ">


                    THÊM
                    </p>
                </a>
            </button>
        </li>


        <li class="nav-item">

            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark">

                    <p>
                        THỐNG KÊ
                    </p>
                </a>
            </button>
        </li>

        <li class="nav-item">

            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark">

                    <p>
                        XÁC NHẬN VẮNG
                    </p>
                </a>
            </button>

        </li>
        <!-- /.sidebar-menu -->



    </ul>

</aside>



<div class="content-wrapper">
    <!-- general form elements -->
    <div class="card card-primary">

        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Thông tin quân nhân</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputBorder">Họ tên quân nhân <code></code></label>
                    </div>

                    <h4>Thông tin chi tiết</h4>
                    <div class="form-group">
                        <label for="exampleSelectBorder"> Cấp bậc <code></code></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelectBorderWidth2">Chức vụ <code></code></label>
                        
                    </div>
                    <div class="form-group">
                        <label for="exampleSelectRounded0">Đơn vị <code></code></label>
                        
                    </div>
                   
                    <div >
                        <button type="submit" style="width:330px" class="btn btn-primary">Thêm</button>
                    </div>
               
            </div>

            <div style="position: absolute; margin-left:400px; margin-top:50px">
                regregsdfgsdgfdsgsfdgsdfsjhdsfvbhufkbvlsfhdbvlsfbdhl

                <input type="text" class="form-control form-control-border" />
            
            </div>


        </div>
    </div>
</div>

