@{
    // trang nay de cho viewAddInf
    //
    //
    //
}

<div class="content-wrapper" style="min-height: 1302.32px;">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">

                        <!-- /.card -->
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Thông tin quân nhân</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <h4>Đơn vị</h4>
                                <div class="form-group">
                                    <label for="exampleInputBorder">Họ tên quân nhân <code></code></label>
                                    <input type="text" class="form-control form-control-border" id="exampleInputBorder" placeholder="Họ và tên">
                                </div>

                                <h4>Thông tin chi tiết</h4>
                                <div class="form-group">
                                    <label for="exampleSelectBorder">Cấp bậc <code></code></label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelectBorderWidth2">Chức vụ <code></code></label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelectRounded0">Đơn vị <code></code></label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelectRounded0">Loại quân nhân <code></code></label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="row">
                    <!-- left column -->
                    <div class="col-md-50" style="width: 430px">
                        <!-- general form elements -->
                        <div class="card card-primary">

                            <!-- /.card -->
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Thông tin đơn vị</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <h4>Tiểu đoàn 1</h4>
                                    <div class="form-group">
                                        <label for="exampleInputBorder">Phiên hiệu đơn vị <code></code></label>
                                        <input type="text" class="form-control form-control-border" id="exampleInputBorder" placeholder="Phiên hiệu">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputBorder">Mã đơn vị <code></code></label>
                                        <input type="text" class="form-control form-control-border" id="exampleInputBorder" placeholder="Mã đơn vị">
                                    </div>


                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Thêm phiên hiệu</button>
                                        <button type="submit" class="btn btn-danger">Xóa phiên hiệu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>



    </section>

</div>